.container {
  display: flex;
  flex-wrap: wrap;
}

p {
    text-align: end;
    padding: 10px;
}

h1 { 
  padding: 40px 0 10px 10px;
}

h2 {
  text-align: center;
}

.red {
  display: flex;
  justify-content: space-between;
  color: red;
}

.sideLine {
  position: absolute;
  margin-top: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  width: 10px;
  height: 80px;
}

.orange {
  background: #ff9800;
}

.yellow {
  background: #f4e700;
}

.bloodOrange {
  background: #f64d25;
}

.box { 
  margin: 8px;
  border-radius: 5px;
  background-color: #2b4e87;
  width: 200px;
  height: 100px;
}

