<div class="wrapper">
  <h1>Zona 1</h1>
  <div class="container">
    <ng-container *ngFor="let newThing of newThings; let i = index"> 
      <div class="box" *ngIf="newThing.areaId == 1791 && newThing.id == 2861 || newThing.joinedWith == 2861">
        <div [ngClass]="{'sideLine orange' : i == 0}"></div>
        <p>{{ newThing.sku }}</p>
        <h2>{{ newThing.defaultSku }}</h2>
      </div>
    </ng-container>
    <ng-container *ngFor="let newThing of newThings; let i = index">
      <div class="box" *ngIf="newThing.areaId == 1791 && newThing.id == 2971 || newThing.joinedWith == 2971"> 
        <div [ngClass]="{ 'sideLine yellow' : i == 4}"></div>
        <p>{{ newThing.sku }}</p>
        <h2>{{ newThing.defaultSku }}</h2>
    </div>
    </ng-container>
    <ng-container *ngFor="let newThing of newThings; let i = index">
        <div class="box" *ngIf="newThing.areaId == 1791 && newThing.id == 2973 || newThing.joinedWith == 2973"> 
            <div [ngClass]="{ 'sideLine yellow' : i == 6 }"></div>
          <p>{{ newThing.sku }}</p>
          <h2>{{ newThing.defaultSku }}</h2>
      </div>
      </ng-container>
      <ng-container *ngFor="let newThing of newThings.slice().reverse(); let i = index">
        <div class="box" *ngIf="newThing.areaId == 1791 && newThing.id == 2974 || newThing.joinedWith == 2974">
            <div [ngClass]="{ 'sideLine yellow' : i == 11 }"></div> 
          <p>{{ newThing.sku }}</p>
          <h2>{{ newThing.defaultSku }}</h2>
      </div>
      </ng-container>
      <ng-container *ngFor="let newThing of newThings; let i = index">
        <div class="box" *ngIf="newThing.areaId == 1791 && newThing.id == 2970 || newThing.joinedWith == 2970"> 
            <div [ngClass]="{ 'sideLine bloodOrange' : i == 3 }"></div>
          <p>{{ newThing.sku }}</p>
          <h2>{{ newThing.defaultSku }}</h2>
      </div>
      </ng-container>
      <ng-container *ngFor="let newThing of newThings; let i = index">
        <div class="box" *ngIf="newThing.areaId == 1791 && newThing.id == 2979 || newThing.joinedWith == 2979"> 
            <div [ngClass]="{ 'sideLine yellow' : i == 12 }"></div>
          <p>{{ newThing.sku }}</p>
          <h2>{{ newThing.defaultSku }}</h2>
      </div>
      </ng-container>
      <ng-container *ngFor="let newThing of newThings; let i = index">
        <div class="box" *ngIf="newThing.areaId == 1791 && newThing.id == 2980 || newThing.joinedWith == 2980"> 
            <div [ngClass]="{ 'sideLine yellow' : i == 13 }"></div>
          <p>{{ newThing.sku }}</p>
          <h2>{{ newThing.defaultSku }}</h2>
      </div>
      </ng-container>
  </div>

  <h1>Zona 2</h1>
  <div class="container">
    <ng-container *ngFor="let newThing of newThings; let i = index">
      <div class="box" *ngIf="newThing.areaId == 1892 && newThing.id == 2966 || newThing.joinedWith == 2966">
          <div [ngClass]="{ 'sideLine yellow' : i == 14 }"></div>
          <!-- <div> -->
        <p>{{ newThing.sku }}</p>
        <h2>{{ newThing.defaultSku }}</h2>
    <!-- </div> -->
    </div>
    </ng-container>
  </div>

  <h1>Zona 4</h1>
  <div class="container">
    <ng-container *ngFor="let newThing of newThings; let i = index">
      <div class="box" *ngIf="newThing.areaId == 1900 && newThing.id == 3003 || newThing.joinedWith == 3003">
        <div [ngClass]="{ 'sideLine yellow' : i == 15 }"></div>
        <p>{{ newThing.sku }}</p>
        <h2>{{ newThing.defaultSku }}</h2>
      </div>
    </ng-container>
  </div>

  <h1>Zona 5</h1>
  <div class="container">
    <ng-container  *ngFor="let newThing of newThings.slice().reverse(); let i = index">
      <div class="box" *ngIf="newThing.areaId == 1901 && newThing.id == 3014 || newThing.joinedWith == 3014">
        <div [ngClass]="{ 'sideLine yellow' : i == 0 }"></div>
        <p>{{ newThing.sku }}</p>
        <h2>{{ newThing.defaultSku }}</h2>
      </div>
    </ng-container>
  </div>
</div>
